################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodRecipe/FoodRecipe/bin/Debug/log.txt
/FoodRecipe/.vs/FoodRecipe/v16/.suo
/FoodRecipe/FoodRecipe/obj/Debug
