################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodRecipe/FoodRecipe/bin/Debug/log.txt
